@media (min-width: 400px) {
    .featured-gallery-item {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
        height: 72vh;
    }

    .image-container,
    .gallery-item-overlay {
        height: 60vh;
    }

    h1 {
        font-size: clamp(1rem, 1rem + 4vw, 6rem);
        width: 70%;
    }

    .hero-rider {
        width: 70%;
    }
}

@media (min-width: 500px) {

    .gallery-item-content-inner h3,
    .gallery-item-content-inner p {
        font-size: clamp(.5rem, .4rem + 1.5vw, 2rem);
    }

    .gallery-item-content-outer h3,
    .gallery-item-content-outer p {
        font-size: clamp(.5rem, .4rem + 2vw, 2rem);
    }

    /*Statistics section*/
    .stats-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stats-item {
        width: 49%;
    }

    .contact-channel {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .footer-brief,
    .quick-links,
    .footer-contact {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}


@media (min-width: 650px) {
    .featured-gallery-item {
        width: 80%;
    }

    .programs-data {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .program-item {
        width: 49%;
    }

    .container-ctas .section-description {
        width: 60%;
    }

    .container-contact .section-description {
        width: 50%;
    }


}

@media (min-width: 700px) {
    /* .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
    } */

    .footer-row1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-brief{
        width: 42%;
    }

    .quick-links {
        width: 20%;
    }
    
    .footer-contact{
        width: 37%;
    }
}

@media (min-width: 800px) {
    .featured-gallery-items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .featured-gallery-item {
        margin-bottom: 3em;
        width: 48%;
        cursor: pointer;
    }

    .gallery-item-content-inner h3,
    .gallery-item-content-inner p {
        font-size: clamp(.5rem, .4rem + 1vw, 2rem);
    }

    .gallery-item-content-outer h3,
    .gallery-item-content-outer p {
        font-size: clamp(.5rem, .4rem + 1.2vw, 2rem);
    }

    .contact-channels {
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-between;
    }

    .contact-channel {
        width: 32%;
    }
}


@media (min-width: 900px) {

    /*** Statistics Section **/
    .stats-item {
        width: 24%;
    }

    .program-item {
        width: 32.5%;
    }

    .dots-container {
        margin-top: 0;
    }
}


/*==================================*/
/* Testimonials section specific queries */
/*==================================*/

/* Tablet */
@media (max-width: 992px) {
    .testimonial-item {
        flex: 0 0 49%;
        font-size: clamp(1rem, .6rem + 1vw, 2rem);
    }

    .testimonial-meta {
        font-size: clamp(.5rem, .2rem + 1vw, 1rem);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .testimonial-item {
        flex: 0 0 100%;
    }
}