@media (min-width: 400px) {
    .featured-gallery-item {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
        height: 72vh;
    }

    .image-container,
    .gallery-item-overlay {
        height: 60vh;
    }

    h1 {
        font-size: clamp(1rem, 1rem + 4vw, 6rem);
        width: 70%;
    }

    .hero-rider {
        width: 70%;
    }
}

@media (min-width: 500px) {

    .gallery-item-content-inner h3,
    .gallery-item-content-inner p {
        font-size: clamp(.5rem, .4rem + 1.5vw, 2rem);
    }

    .gallery-item-content-outer h3,
    .gallery-item-content-outer p {
        font-size: clamp(.5rem, .4rem + 2vw, 2rem);
    }

    /*Statistics section*/
    .stats-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stats-item {
        width: 49%;
    }
}


@media (min-width: 650px) {
    .featured-gallery-item {
        width: 80%;
    }

    
}


@media (min-width: 800px) {
    .featured-gallery-items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .featured-gallery-item {
        margin-bottom: 3em;
        width: 48%;
        cursor: pointer;
    }

    .gallery-item-content-inner h3,
    .gallery-item-content-inner p {
        font-size: clamp(.5rem, .4rem + 1vw, 2rem);
    }

    .gallery-item-content-outer h3,
    .gallery-item-content-outer p {
        font-size: clamp(.5rem, .4rem + 1.2vw, 2rem);
    }
}


@media (min-width: 900px) {
    /*** Statistics Section **/
    .stats-item {
        width: 24%;
    }
}


/*==================================*/
/* Testimonials section specific queries */
/*==================================*/

/* Tablet */
@media (max-width: 992px) {
  .testimonial-item {
    flex: 0 0 50%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .testimonial-item {
    flex: 0 0 100%;
  }
}