html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --whitepure: #fff;

    --dark: #1b323d;
    --darl-1: rgb(34, 38, 42);
    --transparent-dark: hsla(195, 6%, 74%, 0.8);
    --overlayer: rgba(0, 0, 0, 0.5);

    --deepgreen: #049b34;
    --lightgreen: #4bb06b;

    --deepyellow: #f0aa5ae1;
    --deepbrown: #850103;
    --accent: #fb8704;

    --ashy: #e9e4de;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Lato', 'Roboto', 'Source Sans 3';
    font-size: clamp(1rem, .6rem + 1vw, 2rem);
    color: var(--dark);
}

a,
ul {
    font-family: inherit;
    color: var(--dark-1);
    font-size: clamp(.4rem, .7rem + .4vw, 2rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .7em;
}



h1 {
    font-size: clamp(1rem, 1rem + 3vw, 6rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: .6em;
    max-width: 90%;
}


/*==================================*/
/* Utility Classes */
/*==================================*/

.container {
    width: 90%;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.vpadding-large {
    padding: 4em 0;
}

.vpadding-medium {
    padding: 2.3em 0;
}

.vpadding-small {
    padding: 2em 0;
}


.flex-row {
    display: flex;
}

.text-center {
    text-align: center;
}



/*==================================*/
/* Font awesome icons */
/*==================================*/
.fa {
    margin-right: .5em;
}



/*==================================*/
/* Headings */
/*==================================*/
.sub-heading {
    color: var(--deepyellow);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

.heading {
    color: var(--deepblue);
    text-transform: capitalize;
}



/*==================================*/
/* Buttons */
/*==================================*/

.btn {
    display: inline-block;
    padding: .4em 1.1em;
    margin-right: .7em;
    text-decoration: none;
    border-radius: 5px;
}

.btn-white {
    background-color: var(--white);
    border: solid 1px var(--ashy);
}

.btn-white:hover {
    background-color: var(--deepyellow);
}

.btn-primary {
    background-color: var(--deepgreen);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--lightgreen);
}

.btn-clear {
    background-color: var(--transparent-dark);
    color: var(--white);
    border: solid 1px var(--ashy);
}

.btn-clear-unbordered {
    background-color: var(--transparent-dark);
    color: var(--white);
}

.btn-transparent {
    background-color: inherit;
    border: solid 1px var(--ashy);
}

.btn-link-casual {
    color: var(--deepyellow);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btn-rounded {
    border-radius: 50px;
}



.red-test-border {
    border: solid 1px red;
}

/* ============================= */
/* Nav section */
/* ============================= */



/* ============================= */
/* Sections Classes Styles */
/* ============================= */

.section-hero {
    color: var(--white);
    /* background-image: url("../images/banner1.png"); */
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-hero {
    min-height: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    background-color: var(--transparent-dark);
}

.hero-rider {
    width: 90%;
    margin-bottom: 1.5em;
}

.iconn {
    height: 30px;
    width: 30px;
    border: solid 1px var(--accent);
}


/* 1. The wrapper handles the sticky behavior and overall dimensions */
.hero-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

/* 2. The background element is positioned absolutely within the wrapper */
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* 3. The content sits on top */
.hero-content {
    position: relative;
    /* Necessary for z-index to work if you need it */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    /* Example text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*==================================*/
/* Featured Gallery section */
/*==================================*/
.container-impact-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title,
.section-description {
    text-align: center;
}

.featured-gallery-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--overlayer);
    opacity: 0;
    z-index: 1;
}

.featured-gallery-item {
    border-radius: 10px;
    border: solid 1px var(--ashy);
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
    width: 100%;
    height: 60vh;
    cursor: pointer;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    cursor: pointer;
    border-bottom: solid 2px var(--ashy);
}

.featured-gallery-image {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: contain;
    /* object-position: top; */
    /* border-bottom: solid 2px var(--ashy); */
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: brightness(90%);
}

.featured-gallery-item:hover .featured-gallery-image {
    transform: scale(1.14);
    filter: brightness(50%);
}

.featured-gallery-item:hover .gallery-item-content-inner {
    opacity: 1;
}

.featured-gallery-item:hover .gallery-item-overlay{
    opacity: .6;
    transform: scale(1.14);
}

.btn-gallery,
.gallery-item-content-inner,
.gallery-item-content-outer {
    position: absolute;
}

.btn-gallery {
    top: 1em;
    left: 1em;
    z-index: 2;
}

.gallery-item-content-inner {
    color: var(--white);
    bottom: 5em;
    left: 1em;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.gallery-item-content-outer {
    margin-left: 1em;
    bottom: 0;
}

.gallery-item-content-inner h3,
.gallery-item-content-inner p {
    font-size: clamp(.5rem, .5rem + 1.5vw, 2rem);
}

.gallery-item-content-outer h3,
.gallery-item-content-outer p {
    font-size: clamp(.5rem, .5rem + 2vw, 2rem);
}

.gallery-item-description {
    margin-bottom: 0;
}