html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --whitepure: #fff;

    --dark: #1b323d;
    --darl-1: rgb(34, 38, 42);
    --transparent-dark: hsla(195, 6%, 74%, 0.8);
    --overlayer: rgba(0, 0, 0, 0.5);

    --deepgreen: #049b34;
    --transparent-green: hsla(160, 96%, 27%, 0.2);
    --lightgreen: #4bb06b;

    --light-blue: hsl(199, 58%, 65%);
    --transparent-blue: hsla(99, 58%, 65%, 0.2);

    --deepyellow: #f0aa5ae1;
    --deepbrown: #850103;

    --accent: hsl(32, 97%, 50%);
    --transparent-accent: hsla(32, 97%, 50%, 0.1);

    --ashy: #e9e4de;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Lato', 'Roboto', 'Source Sans 3';
    font-size: clamp(1rem, .6rem + 1vw, 2rem);
    color: var(--dark);
}

a,
ul {
    font-family: inherit;
    color: var(--dark-1);
    font-size: clamp(.4rem, .7rem + .4vw, 2rem);
}

a[href="javascript:void"] {
    cursor: default;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .7em;
}



h1 {
    font-size: clamp(1rem, 1rem + 3vw, 6rem);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: .6em;
    max-width: 90%;
}


/*==================================*/
/* Utility Classes */
/*==================================*/

.container {
    width: 90%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    /* margin: 0 auto; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.vpadding-large {
    padding: 4em 0;
}

.vpadding-medium {
    padding: 2.3em 0;
}

.vpadding-small {
    padding: 2em 0;
}


.flex-row {
    display: flex;
}

.text-center {
    text-align: center;
}



/*==================================*/
/* Font awesome icons */
/*==================================*/
.fa {
    margin-right: .5em;
}



/*==================================*/
/* Headings */
/*==================================*/
.sub-heading {
    color: var(--deepyellow);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

.heading {
    color: var(--deepblue);
    text-transform: capitalize;
}



/*==================================*/
/* Buttons */
/*==================================*/

.btn {
    display: inline-block;
    padding: .4em 1.1em;
    margin-right: .7em;
    text-decoration: none;
    border-radius: 5px;
}

.btn-white {
    background-color: var(--white);
    border: solid 1px var(--ashy);
}

.btn-white:hover {
    background-color: var(--accent);
}

.btn-primary {
    background-color: var(--deepgreen);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--lightgreen);
}

.btn-lightblue {
    background-color: var(--light-blue);
    color: var(--white);
}

.btn-clear {
    background-color: var(--transparent-dark);
    color: var(--white);
    border: solid 1px var(--ashy);
}

.btn-clear-unbordered {
    background-color: var(--transparent-dark);
    color: var(--white);
}

.btn-transparent {
    background-color: inherit;
    border: solid 1px var(--ashy);
}

.btn-transparent-unbordered {
    background-color: none;
    color: var(--deepgreen);
}

.btn-link-casual {
    color: var(--deepyellow);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-circle {
    border-radius: 50%;
}



.red-test-border {
    border: solid 1px red;
}

/* ============================= */
/* Nav section */
/* ============================= */



/* ============================= */
/* Sections Classes Styles */
/* ============================= */

.section-hero {
    color: var(--white);
    /* background-image: url("../images/banner1.png"); */
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-hero {
    min-height: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    background-color: var(--transparent-dark);
}

.hero-rider {
    width: 90%;
    margin-bottom: 1.5em;
}

.iconn {
    height: 30px;
    width: 30px;
    border: solid 1px var(--accent);
}


/* 1. The wrapper handles the sticky behavior and overall dimensions */
.hero-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

/* 2. The background element is positioned absolutely within the wrapper */
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* 3. The content sits on top */
.hero-content {
    position: relative;
    /* Necessary for z-index to work if you need it */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    /* Example text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*==================================*/
/* Featured Gallery section */
/*==================================*/
.container-impact-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title,
.section-description {
    text-align: center;
}

.featured-gallery-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--overlayer);
    opacity: 0;
    z-index: 1;
}

.featured-gallery-item {
    border-radius: 2px;
    border: solid 1px var(--ashy);
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
    width: 100%;
    height: 60vh;
    cursor: pointer;
}

/* 
.featured-gallery-video{
    border-radius: 5px;
    border: solid 1px var(--ashy);
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
    width: 100%;
    height: 60vh;
    cursor: pointer;
} */

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    cursor: pointer;
    border-bottom: solid 2px var(--ashy);
}

.featured-gallery-image {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: contain;
    /* object-position: top; */
    /* border-bottom: solid 2px var(--ashy); */
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: brightness(90%);
}

.featured-gallery-item:hover .featured-gallery-image {
    transform: scale(1.14);
    filter: brightness(50%);
}

.featured-gallery-item:hover .gallery-item-content-inner {
    opacity: 1;
}

.featured-gallery-item:hover .gallery-item-overlay {
    opacity: .6;
    transform: scale(1.14);
}

.btn-gallery-video,
.btn-gallery-photo,
.gallery-item-content-inner,
.gallery-item-content-outer {
    position: absolute;
}

.btn-gallery-video,
.btn-gallery-photo {
    top: 1em;
    left: 1em;
    z-index: 2;
    border: none;
}

.btn-gallery-video {
    background-color: var(--accent);
}

.btn-gallery-photo {
    background-color: var(--deepgreen);
}

.gallery-item-content-inner {
    color: var(--white);
    bottom: 5em;
    left: 1em;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.gallery-item-content-outer {
    margin-left: 1em;
    bottom: 0;
}

.gallery-item-content-inner h3,
.gallery-item-content-inner p {
    font-size: clamp(.5rem, .5rem + 1.5vw, 2rem);
}

.gallery-item-content-outer h3,
.gallery-item-content-outer p {
    font-size: clamp(.5rem, .5rem + 2vw, 2rem);
}

.gallery-item-description {
    margin-bottom: 0;
}

iframe {
    width: 100%;
    height: 100%;
}


/*==================================*/
/* Section Statistics */
/*==================================*/

.container-testimonials,
.container-programs,
.container-stats,
.container-ctas,
.container-contact,
.container-send-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-item {
    border: solid 1px var(--ashy);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    margin-bottom: .8em;
}

.stats-fa {
    font-size: 2em;
    background-color: var(--white);
    color: var(--accent);
    border-radius: 50%;
    margin-bottom: .5em;
}

.programs-data {
    display: flex;
    flex-direction: column;
}

.programs-fa {
    font-size: 2em;
    background-color: var(--transparent-green);
    color: var(--deepgreen);
    border-radius: 10%;
    margin-bottom: .5em;
    padding: .4em;
}

.program-item {
    border: solid 1px var(--light-blue);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: .8em;
    background-color: var(--transparent-green);
}

.program-title {
    color: var(--deepgreen);
}

.program-item:nth-child(3n) {
    border: solid 1px var(--accent);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: .8em;
    background-color: var(--transparent-accent);
}

.program-item:nth-child(3n) .programs-fa {
    background-color: var(--transparent-accent);
    color: var(--accent);
}

.program-item:nth-child(3n) .program-title {
    color: var(--accent);
}


/*==================================*/
/* Testimonials Section */
/*==================================*/
.container-testimonials {
    /* max-width: 1400px; */
    margin: auto;
    position: relative;
    overflow: hidden;
}


.testimonials-data {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    width: 100%;
    display: flex;
    gap: 1em;
    transition: transform 0.5s ease-in-out;
}

.testimonial-item {
    /* flex: 0 0 33.333%; */
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    border: solid 1px var(--ashy);
    border-radius: 5px;
    padding: 1em;
    padding-bottom: .2em;
    margin-bottom: 1em;
    font-size: clamp(.8rem, .5rem + 1vw, 2rem);
}

.testimonial-meta {
    /* margin: 1em 1em; */
    margin-top: .5em;
    margin-bottom: 0;
    border-top: solid 1px var(--ashy);
    display: flex;
    padding-top: .5em;
    padding-bottom: 0;
    align-items: center;
    font-size: clamp(.3rem, .2rem + 1vw, 1rem);
}

.testimony {
    font-style: italic;
    /* margin: 1em 0; */
}

.testimonials-fa {
    font-size: 2em;
    color: var(--deepgreen);
    border-radius: 50%;
    padding: .4em;
}

.testimony-rating-fa {
    color: var(--accent);
    border: none;
    background-color: none;
    margin-right: .3em;
}

.testifier-fa {
    /* font-size: 2em; */
    background-color: var(--transparent-green);
    color: var(--deepgreen);
    border-radius: 50%;
    padding: .4em;
}

.navigators {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.6em;
}

.prev-btn {
    margin-right: 1em;
}

.next-btn {
    margin-left: 1em;
}

.prev-btn,
.next-btn {
    color: var(--dark);
    background-color: var(--white);
    border: solid 1px var(--ashy);
    border-radius: 8px;
    width: 3em;
    height: 3em;
    display: inline-block;
    cursor: pointer;
    /* transition: background-color 0.3s; */
}

.dots-container {
    margin-top: .6em;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background-color: var(--deepgreen);
    width: 30px;
    border-radius: 10px;
}



/*==================================*/
/********** Get In Touch Corner **********/
/*==================================*/
.container-ctas .section-description {
    width: 80%;
    margin-bottom: 1.5em;
}
.contact-channels {
    display: flex;
    flex-direction: column;
}

.contact-channel {
    border: solid 1px var(--ashy);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.contact-channel:hover {
    border: solid 1px var(--lightgreen);
}

/* .contact-channel:hover .fa {
    transform: scale(1.14);
} */

.contact-channel h4 {
    color: var(--deepgreen);
}


/*==================================*/
/* Send Message CTA */
/*==================================*/
.section-send-message{
    background-color: var(--transparent-green);
}

.container-send-message{
    padding-right: 1em;
    padding-left: 1em;
    /* border: solid 1px var(--lightgreen); */
    text-align: center;
    /* padding: 1em 1em; */
}

.container-contact .section-description {
    width: 80%;
}


/*==================================*/
/* Footer Section*/
/*==================================*/
.section-footer {
    background-color: var(--transparent-accent);
}

.container-footer {
    display: flex;
    flex-direction: column;
}

.footer-brief, .quick-links, .footer-contact {
    margin-bottom: 1em;
}

.copyrights ul, .quick-links ul, .footer-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.copyrights a, .quick-links a {
    text-decoration: none;
}

.copyrights {
    border-top: solid 2px #fcfcfc;
    padding-top: 1em;
    margin-top: 1em;
}

.copyrights ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}